<div class="row">
  <div class="container">
    <h1 class="page-header">Search for product</h1>
    <form (ngSubmit)="onSearch()">
      <div [formGroup]="myForm">
        <div class="form-group">
          <div class="col-xs-3">
          <label for="productName">Product Name</label>
          <input type="text"   class="form-control" id="productName" placeholder="Enter Product Name" formControlName="productName">
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-3">
          <label for="productCategory">Product Category</label>
          <select title="Categories like: Meat\Dairy\Vegetables" class="form-control" id="productCategory"
                 placeholder="Enter Product Category" formControlName="productCategory" [(ngModel)]="productCategory">
            <option *ngFor="let category of productCategories" [ngValue]="category">{{category}}</option>
          </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-3">
          <label for="productPrice">Product Price (Up-to)</label>
          <input type="text" title="The search result will show all product will price equal or lower than given price"  class="form-control" id="productPrice"
                 placeholder="Enter Product Price" formControlName="productPrice">

          </div>
        <br>
          <input type="submit" class="btn btn-success btn-m"value="Search">
              <a [routerLinkActive]="['active']" [routerLink]="['/products/create']" class="btn btn-success">Add product</a>

        </div>

      </div>
    </form>
  </div>
  <br><br>
  <div  class="col-xs-8">
    <ul  class="list-group">
      <app-product-item  *ngFor="let p of products" [product]="p" [categoriesImgs]="productCategoriesToImages" >
      </app-product-item>
    </ul>
  </div>

  <div class="col-xs-4">
    <aside>

    </aside>
  </div>
</div>
