<h2 class="page-header">Users Dashboard</h2>
<!--<p>Users Dashboard</p>-->
<!-- TABLES -->


<div class="container">
  <div class="col-xs-5">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th >Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>

        <tr *ngFor="let u of users">
          <td>{{u.username}}</td>
          <td>{{u.name}}</td>
          <td>{{u.email}}</td>

          <td>
            <div class="col-xs">
              <a [routerLinkActive]="['active']" [routerLink]="['/profile']" class="btn btn-danger btn-xs">Delete</a>
              <a [routerLinkActive]="['active']" [routerLink]="['/profile']" class="btn btn-danger btn-xs">Change</a>
            </div>
          </td>
        </tr>
    </table>
  </div>
</div>



