<div class="container">
  <iframe width="640" height="480" src="https://www.youtube.com/embed/dGpuuII_FMc" frameborder="0" allowfullscreen></iframe>
  <h2><font face="verdana">Our team</font></h2>
  <table>
    <td style="padding-right: 100px">
    <tr>
      <th><img class="img-circle" src="../../../shophomepage/photos/lior2.png"></th>
    </tr>
    <tr>Bla bla</tr>
    <br>
    <br>
    <br>
    <tr>
      <th><img class="img-circle" src="../../../shophomepage/photos/timi2.png"></th>
    </tr>
    <tr>Bla bla2222</tr>
    </td>


    <td >
      <tr>
        <th><img class="img-circle" src="../../../shophomepage/photos/lior2.png"></th>
      </tr>
      <tr>Bla bla</tr>
      <br>
      <br>
      <br>
      <tr>
        <th><img class="img-circle" src="../../../shophomepage/photos/timi2.png"></th>
      </tr>
      <tr>Bla bla2222</tr>
    </td>
  </table>

</div>

