<div class="col-xs-3">
<div *ngIf="user">
  <h2 class="page-header" >{{user.name}} profile:</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Name: {{user.name}}</li>
  </ul>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
  <iframe width="640" height="480" src="https://www.youtube.com/embed/qL-rq_ZilJ8" frameborder="0" allowfullscreen></iframe>
</div>
